{% extends 'base.html' %}

{% block body %}

<!-- ============================ Property Detail Start ================================== -->
<section class="gray">
	<div class="container">
		<div class="row">

			<!-- property main detail -->
			<div class="col-lg-8 col-md-12 col-sm-12">



				<!-- Single Block Wrap -->
				<div class="Reveal-block-wrap">

					<div class="Reveal-block-header">
						<h4 class="block-title">Description</h4>
					</div>

					<div class="Reveal-block-body">
						<p>{{rooms.description}}</p>

					</div>

				</div>

			</div>

			<!-- property Sidebar -->
			<div class="col-lg-4 col-md-12 col-sm-12">

				<div class="page-sidebar">

					<!-- Booking -->
					<div class="Reveal-side-widget">
						<div class="Reveal-Reveal-side-widget-header dark green">
							<h4>
								<i class="lni-timer"></i> Booking
							</h4>
						</div>
						<form action="{% url 'BookRoom' %}" method="Post">
							{% csrf_token %}
							<input type="hidden" name="room" value="{{rooms.id}}">
							<div class="Reveal-Reveal-side-widget-body">
								<div class="Reveal-search-content simple-frm">
									<div class="row">
										<div class="col-lg-6 ">
											<div class="form-group">
												<div class="input-with-icon">
													<label>Check In {{checkInDate|date:"Y-m-d"}}</label>
													<input type="date" class="form-control" name="checkInDate"
														min="{{checkInDate|date:'Y-m-d'}}"
														value="{{checkInDate|date:'Y-m-d'}}">
												</div>
											</div>
										</div>
										<div class="col-lg-6 ">
											<div class="form-group">
												<div class="input-with-icon">
													<label>Check Out</label>
													<input type="date" class="form-control" name="checkOutDate"
														min="{{checkOutDate|date:'Y-m-d'}}"
														value="{{checkOutDate|date:'Y-m-d'}}">
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="hero-search-action">
									<input type="submit" class="btn search-btn" value="book room now">
								</div>

							</div>
						</form>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>
<!-- ============================ Property Detail End ================================== -->
{% endblock body %}