{% extends 'base.html' %} {% block body %}

<!-- ============================================================== -->
<!-- Top header  -->
<!-- ============================================================== -->

<!-- ============================ Hero Banner  Start================================== -->

<!-- ============================ Hero Banner  Start================================== -->
{% load static %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css" />
<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/resources/demos/style.css" />
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<style>
	#id_name {
		border: 2px solid black;
	}

	#id_city {
		border: 2px solid black;
	}
</style>
<div class="image-cover hero-banner" style="background: url({% static 'img/banner-1.jpg' %}) no-repeat"
	data-overlay="4">
	<div class="container">
		<h1 class="big-header-capt capti">Find The Right Place</h1>
		<div class="full-search-2 Reveal-search Reveal-search-radius box-style">
			<div class="Reveal-search-content container">
				<div class="row">
					<form method="get" class="col d-flex">
						<div class="col-lg-5 col-md-3 col-sm-6">
							<div class="form-group">
								<div class="input-with-icon">
									<div class="ui-widget">
										{{form.name}}

										<i class="fas fa-hotel" style="color: #ff256b"></i>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-5 col-md-3 col-sm-6">
							<div class="form-group">
								<div class="input-with-icon">
									<div class="ui-widget">
										{{form.city}}
										<i class="theme-cl ti-target" style="color: #ff256b"></i>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-12">
							<div class="form-group">
								<input type="submit" class="btn search-btn" value="Search" />
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- ============================ Hero Banner End ================================== -->

<!-- ============================ Hero Banner End ================================== -->

<!-- =========== Start All Restaurent In Grid View =================== -->
<section class="gray">
	<div class="container">
		<div class="row mb-3">
			<div class="col-lg-12 col-md-12 col-sm-12">
				<div class="shorting-wrap mb-1">
					<h5 class="shorting-title">
						Search: <span class="theme-cl ml-2">{{hotels.count}}</span> Results
						Found
					</h5>
				</div>
			</div>
		</div>

		<div class="row">
			<!-- Single Place -->

			{% for i in hotels %}

			<div class="col-lg-4 col-md-6 col-sm-12">
				<div class="Reveal-hotel-item">
					<figure class="Reveal-hotel-wrap">
						<a class="place-link" href="{% url 'CategoryList' i.id %}">
							<img class="cover" src="{{ MEDIA_URL }}{{i.hotelImage}}" alt="room" />
						</a>
					</figure>
					<div class="Reveal-hotel-detail">
						{% comment %}
						<span class="Reveal-Reveal-onsale-pre"><span class="Reveal-onsale-pre">32% Off</span></span>
						{% endcomment %}
						<div class="Reveal-hotel-detail-left">
							<div class="item-rating">
								<i class="fa fa-star {% if i.reating >= 1 %} filled {% endif %}"></i>
								<i class="fa fa-star {% if i.reating >= 2 %} filled {% endif %}"></i>
								<i class="fa fa-star {% if i.reating >= 3 %} filled {% endif %}"></i>
								<i class="fa fa-star {% if i.reating >= 4 %} filled {% endif %}"></i>
								<i class="fa fa-star {% if i.reating >= 5 %} filled {% endif %}"></i>
								<span>(38) Reviews</span>
							</div>
							<h4 class="title"><a href="booking.html">{{i.name}}</a></h4>
							<span class="Reveal-hotel-detail-detail"><i class="ti-location-pin"></i>{{i.city.name}},
								{{i.city.state.name}}</span>
						</div>
						{% comment %}
						<div class="Reveal-placebox">
							<h6 class="price-title-cut">$1299</h6>
							<h4 class="price-title">$870</h4>
						</div>
						{% endcomment %}
					</div>
				</div>
			</div>
			{%empty%}
			<div class="col-md-12 mrg-top-40">
				<div class="text-center">
					<label class="btn btn-light btn-md rounded">No Result found</label>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</section>

<script>
	var citysJSON = JSON.parse("{{ cityList|safe }}".replace(/'/g, '"'));
	var citys = [];
	citysJSON.forEach((x) => {
		citys.push(x);
		console.log(x);
	});

	$("#id_city").autocomplete({
		source: citys,
	});

	var hotelnamesJSON = JSON.parse("{{ hotelnames|safe }}".replace(/'/g, '"'));
	var hotels = [];
	hotelnamesJSON.forEach((x) => {
		hotels.push(x);
		console.log(x);
	});

	console.log(hotelnamesJSON);
	$("#id_name").autocomplete({
		source: hotels,
	});
</script>
<!-- =========== End All Restaurant In Grid View =================== -->

{% endblock body %}