{% extends 'base.html' %} {% block body %}
<!-- ============================================================== -->
<!-- Top header  -->
<!-- ============================================================== -->

<!-- ============================ Hero Banner End ================================== -->

<!-- =========== Start All Hotel In Grid View =================== -->
<section class="gray">
  <div class="container">
    <div class="row mb-3">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="shorting-wrap mb-1">
          <h5 class="shorting-title">
            Search:
            <span class="theme-cl ml-2">{{categoryList.count}}</span> Results
            Found
          </h5>
          <div class="shorting-rights">
            <a href="#" class="elip-btn mr-1"
              ><i class="lni lni-grid-alt"></i
            ></a>
            <a href="#" class="elip-btn mr-1"><i class="lni lni-menu"></i></a>
            <a
              class="elip-btn"
              href="javascript:void(0);"
              onclick="openFilterSearch()"
              ><i class="ti-filter"></i
            ></a>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      {% for i in categoryList %}

      <!-- Single Event -->
      <div class="col-lg-4 col-md-6 col-sm-6 mb-4">
        <div class="Reveal-event-grid">
          <a href="{% url 'RoomsList' i.id %}">
            <div class="Reveal-event-header">
              <img
                src="{{ MEDIA_URL }}{{i.imagepic}}"
                class="img-fluid mx-auto"
                alt=""
              />
            </div>
          </a>
          <div class="Reveal-event-grid-caption">
            <div class="Reveal-Reveal-event-grid-caption-header">
              <h4 class="Reveal-event-name">
                <a href="event-detail.html">{{i.name}}</a>
              </h4>
            </div>
          </div>
        </div>
      </div>

      {% endfor %}
    </div>

    {% comment %}
    <div class="row">
      <div class="col-md-12 col-sm-12 mt-3">
        <div class="text-center">
          <div class="spinner-grow text-danger" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          <div class="spinner-grow text-warning" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          <div class="spinner-grow text-success" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
      </div>
    </div>
    {% endcomment %}
  </div>
</section>
<!-- =========== End All Hotel In Grid View =================== -->

{% endblock body %}
