{% extends 'base.html' %} {% block body %}
<!-- ============================================================== -->
<!-- Top header  -->
<!-- ============================================================== -->

<!-- ============================ Hero Banner End ================================== -->

<!-- =========== Start All Hotel In Grid View =================== -->
{% load static %}
<style>
  .bor {
    border-color: black;
  }
</style>
<div class="image-cover hero-banner" style="background: url({% static 'img/banner-1.jpg' %}) no-repeat"
  data-overlay="4">
  <div class="container">
    <h1 class="big-header-capt capti">Find The Right Place</h1>
    <div class="full-search-2 Reveal-search Reveal-search-radius box-style">
      <div class="Reveal-search-content container">
        <div class="row">
          <form method="get" class="col d-flex">
            <div class="col-lg-9 col-md-3 col-sm-6">
              <div class="form-group">
                <div class="input-with-icon">
                  <div class="ui-widget">
                    <i class="fas fa-hotel" style="color: #ff256b"></i>
                    <input type="text" class="form-control bor" name="searchCategory">
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-2 col-sm-12">
              <div class="form-group">
                <input type="submit" class="btn search-btn" value="Search" />
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<section class="gray">
  <div class="container">
    <div class="row mb-3">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="shorting-wrap mb-1">
          <h5 class="shorting-title">
            Search:
            <span class="theme-cl ml-2">{{categoryList.count}}</span> Results
            Found
          </h5>
        </div>
      </div>
    </div>

    <div class="row">
      {% for i in categoryList %}

      <!-- Single Event -->
      <div class="col-lg-4 col-md-6 col-sm-6 mb-4">
        <div class="Reveal-event-grid">
          <a href="{% url 'RoomsList' i.id %}">
            <div class="Reveal-event-header">
              <img src="{{ MEDIA_URL }}{{i.imagepic}}" class="img-fluid mx-auto" alt="" />
            </div>
          </a>
          <div class="Reveal-event-grid-caption">
            <div class="Reveal-Reveal-event-grid-caption-header">
              <h4 class="Reveal-event-name">
                <a href="event-detail.html">{{i.name}}</a>
              </h4>
            </div>
          </div>
        </div>
      </div>
      {%empty%}
      <div class="col-md-12 mrg-top-40">
        <div class="text-center">
          <label class="btn btn-light btn-md rounded">No Result found</label>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<!-- =========== End All Hotel In Grid View =================== -->

{% endblock body %}